In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\pardkumar'

In [3]:
import pandas as pd

In [4]:
data = pd.read_excel(r'C:\Users\pardkumar\Documents\pardeep\Python\Users.xlsx')
data

                     Name                     Email      Access      Buckets
0        John Karun Kumar  jkarunkumar@deloitte.com  Power User  All Buckets
1                 Gokul T         gotk@deloitte.com          S3  All Buckets
2            David Hanoch      rhanoch@deloitte.com          S3  All Buckets
3     Shanti Sudha Dasari     shdasari@deloitte.com          S3  All Buckets
4          Joel Kashipogu   jkashipogu@deloitte.com          S3  All Buckets
5       Logesh Munnuswamy          lom@deloitte.com          S3  All Buckets
6          Venkatesh Alla       vealla@deloitte.com          S3  All Buckets
7           Zeeshan Mirza       zmirza@deloitte.com          S3  All Buckets
8           Arjun, Vasu N       varjun@deloitte.com          S3  All Buckets
9   Vigneshwaran Madhavan   vimadhavan@deloitte.com       Admin  All Buckets
10          Pardeep Kumar    pardkumar@deloitte.com       Admin  All Buckets
11     Sai Deepak Chevuru      schevuru@deloite.com       Admin  All Buckets

In [5]:
os.getcwd()

'C:\\Users\\pardkumar'